body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('Cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}

